#slider {
 position: absolute;
 left: 40%;
 bottom: 20px;
 width: 600px;
 height: 50px;
}	

div#title-box {
  padding-top: 0px;
  padding-left: 15px;
}

div#infobox {
  position: absolute;
  visibility: hidden;
  left: 4%;
  bottom: 10%;
  border-radius: 25px;
  border-style: solid;
  border-width: .5px;
  background: #6D909C;
  opacity: .75;
  padding: 10px; 
  width: 200px;
  height: 220px; 
}

.unvisited {
  fill: #F0EBDF;
}

.unvisited:hover {
  fill: #EA8859;
  opacity: 1.0;
}

.visited {
  fill: #6D909C;
  fill-opacity: .5;
}

.visited:hover {
  fill: #252C3F;
  fill-opacity: .8;
}

svg {
  padding: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
}

path {
 stroke: #666;
 stroke-width: .5px;
 stroke-linecap: round;
 stroke-linejoin: round;
}

@font-face {
 font-family: 'Bree Serif';
 src: url("BreeSerif-Regular.otf");
}

h1 {
 margin: 0px; 
 position: float;
 font-family: 'Bree Serif';
 font-size: 35px;
}

h2 {
  margin: 0px; 
  position: float;
  font-family: 'Bree Serif';
  font-size: 16px;
}
